*{
    margin: 0;
    padding: 0;
}

.parent{
    margin: auto;
    height: auto;
    width: 250px;
    border: #333 solid 2px;
    padding: 15px;
    background-color: black;
    border-radius: 20px;
}

.cbutton{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap: 5px;
}

.cbutton>button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 25px;
}
input{
    border: none;
    color: white;
    font-size: 25px;
    text-align: right;
}
input:focus{
    border: none !important;
}
input::selection{
    border: none !important;
}

.inp{
    margin-bottom: 15px;
    /* border: 3px solid black; */
    background-color: black;
    color: white;
    font-size: 40px;
    padding: 3px;
    width: 250px;
}

.yel{
    background-color:rgb(209, 165, 20);
    border: none;
    color: white;
    border: none;
    cursor: pointer;
}

.nor{
    background-color: gray;
    color:black;
    border: none;
    cursor: pointer;
}
#clear-btn{
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.val{
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.dt{
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.zero{
    background-color: #333;
    color: white;
    border: none;
    grid-column: 1/3;
    width: 120px !important;
    border-radius: 30px !important;
    cursor: pointer;
}

.equal{
    background-color:rgba(209,165,20);
    border: none;
    color: white;
    cursor: pointer;
}

body{
    margin-top: 100px;
}
h1{
    color: orange;
    text-align: center;
    font-size: 25px;
    font-style: italic;
}